<style>

</style>

<div class="scrollContainer" id="scrollContainer" style="height: 13000">
  <canvas id="vidCanvas"></canvas>
  <div class="videoContainer" style="width: 1600, height: 936, position: fixed, visibility: hidden, z-index: 2">
    <video src=""></video>
  </div>
  <div class="sideMenu"></div>
  <div class="overlays">
  </div>
</div>


<!--
Deconstruct it
- at certain point hijack the scroll event prevent default and run a GreenSock Timeline
- The actual video is fixed and hidden until it starts to play
- video is always there full screen or max available
- side menu is always there fixed and hidden until play
-->

.noselect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  position: absolute;
}

<!-- SIDE MENU -->
<div id="H8SideMenu" class="noselect">
  <svg id="svgArrow" style="visibility: visible; display: none;">
    <path d="M8,0L8,27M0,21L8,28L16,21" stroke="#FFFFFF" stroke-width="1" fill="none" style="stroke-dashoffset: -49.2603px; stroke-dasharray: 1e-05px, 59.2603px; display: none;"></path>
  </svg>

  <div class="H8SideMenuText" id="H8S1" style="transform: translate3d(1191.77px, 228px, 0px); visibility: hidden; opacity: 0;">WIRELESS</div>
  <div class="H8SideMenuText" id="H8S2" style="transform: translate3d(1197.91px, 451px, 0px); visibility: hidden; opacity: 0;">ACTIVE NOISE CANCELLATION</div>
  <div class="H8SideMenuText" id="H8S3" style="transform: translate3d(1197.91px, 690px, 0px); visibility: hidden; opacity: 0;">GESTURES</div>
  <div id="H8Mute" style="left: 1337px; top: 891px; visibility: hidden; opacity: 0;">
    <div id="H8MuteA" style="visibility: hidden;"></div>
    <div id="H8MuteB" style="visibility: visible;"></div>
  </div>
  <div class="H8SideMenuItem" style="left: 0px; width: 0px; transform: translate3d(1322px, 104px, 0px); visibility: hidden; opacity: 0;"></div>
  <div class="H8SideMenuItem" style="left: 0px; width: 0px; transform: translate3d(1322px, 137px, 0px); visibility: hidden; opacity: 0;"></div>
  <div class="H8SideMenuItem" style="left: 0px; width: 0px; transform: translate3d(1322px, 170px, 0px); visibility: hidden; opacity: 0;"></div>
  <div class="H8SideMenuItem" style="left: 0px; width: 0px; transform: translate3d(1322px, 203px, 0px); visibility: hidden; opacity: 0;"></div>
  <div class="H8SideMenuItem" style="left: 0px; width: 0px; transform: translate3d(1322px, 236px, 0px); visibility: hidden; opacity: 0;"></div>
  <div class="H8SideMenuItem" style="left: 0px; width: 0px; transform: translate3d(1322px, 269px, 0px); visibility: hidden; opacity: 0;"></div>
  <div class="H8SideMenuItem" style="left: 0px; width: 0px; transform: translate3d(1322px, 302px, 0px); visibility: hidden; opacity: 0;"></div>
  <div class="H8SideMenuItem" style="left: 0px; width: 0px; transform: translate3d(1322px, 335px, 0px); visibility: hidden; opacity: 0;"></div>
  <div class="H8SideMenuItem" style="left: 0px; width: 0px; transform: translate3d(1322px, 368px, 0px); visibility: hidden; opacity: 0;"></div>
  <div class="H8SideMenuItem" style="left: 0px; width: 0px; transform: translate3d(1322px, 401px, 0px); visibility: hidden; opacity: 0;"></div>
  <div class="H8SideMenuItem" style="left: 0px; width: 0px; transform: translate3d(1322px, 434px, 0px); visibility: hidden; opacity: 0;"></div>
  <div class="H8SideMenuItem" style="left: 0px; width: 0px; transform: translate3d(1322px, 467px, 0px); visibility: hidden; opacity: 0;"></div>
  <div class="H8SideMenuItem" style="left: 0px; width: 0px; transform: translate3d(1322px, 500px, 0px); visibility: hidden; opacity: 0;"></div>
  <div class="H8SideMenuItem" style="left: 0px; width: 0px; transform: translate3d(1322px, 533px, 0px); visibility: hidden; opacity: 0;"></div>
  <div class="H8SideMenuItem" style="left: 0px; width: 0px; transform: translate3d(1322px, 566px, 0px); visibility: hidden; opacity: 0;"></div>
  <div class="H8SideMenuItem" style="left: 0px; width: 0px; transform: translate3d(1322px, 599px, 0px); visibility: hidden; opacity: 0;"></div>
  <div class="H8SideMenuItem" style="left: 0px; width: 0px; transform: translate3d(1322px, 632px, 0px); visibility: hidden; opacity: 0;"></div>
  <div class="H8SideMenuItem" style="left: 0px; width: 0px; transform: translate3d(1322px, 665px, 0px); visibility: hidden; opacity: 0;"></div>
  <div class="H8SideMenuItem" style="left: 0px; width: 0px; transform: translate3d(1322px, 698px, 0px); visibility: hidden; opacity: 0;"></div>
  <div class="H8SideMenuItem" style="left: 0px; width: 0px; transform: translate3d(1322px, 731px, 0px); visibility: hidden; opacity: 0;"></div>
  <div class="H8SideMenuItem" style="left: 0px; width: 0px; transform: translate3d(1322px, 764px, 0px); visibility: hidden; opacity: 0;"></div>
  <div class="H8SideMenuItem" style="left: 0px; width: 0px; transform: translate3d(1322px, 797px, 0px); visibility: hidden; opacity: 0;"></div>
  <div class="H8SideMenuItem" style="left: 0px; width: 0px; transform: translate3d(1322px, 830px, 0px); visibility: hidden; opacity: 0;"></div>
  <div class="H8SideMenuItem" style="left: 0px; width: 0px; transform: translate3d(1322px, 863px, 0px); visibility: hidden; opacity: 0;"></div>
</div>

<!-- OVERLAYS -->
<div class="H8VideoOverlay" style="visibility: hidden; transform: translate3d(0px, 1063.8px, 0px);">
  <div class="H8Statement">
    <svg class="svgCircle">
      <circle cx="36" cy="36" r="35" stroke="#FFFFFF" stroke-width="1" fill="none" style="stroke-dashoffset: 220.911px; stroke-dasharray: 220.911px, 230.911px;"></circle>
    </svg>
    <div class="icons" id="wirelessIcon" style="transform: translate3d(0px, 0px, 0px) scale(0.5, 0.5); visibility: hidden; opacity: 0;"></div>
    <span class="H8h4" style="visibility: hidden; opacity: 0; transform: translate3d(0px, 0px, 0px);">Freedom to move</span><br>
    Leave the cord behind and move freely to the music
  </div>
</div>
<div class="H8VideoOverlay" style="visibility: hidden; transform: translate3d(0px, 786.985px, 0px);">
  <div class="H8Statement">
    <svg class="svgCircle">
      <circle cx="36" cy="36" r="35" stroke="#FFFFFF" stroke-width="1" fill="none" style="stroke-dashoffset: 220.911px; stroke-dasharray: 220.911px, 230.911px;"></circle>
    </svg>
    <div class="icons" id="ancIcon" style="transform: translate3d(0px, 0px, 0px) scale(0.5, 0.5); visibility: hidden; opacity: 0;"></div>
    <span class="H8h4" style="visibility: hidden; opacity: 0; transform: translate3d(0px, 0px, 0px);">Let the right sound in</span><br>You choose when you want to listen in silence or let the city in
  </div>
</div>
<div class="H8VideoOverlay" style="visibility: hidden; transform: translate3d(0px, 1201.85px, 0px);">
  <div class="H8Statement">
    <svg class="svgCircle">
      <circle cx="36" cy="36" r="35" stroke="#FFFFFF" stroke-width="1" fill="none" style="stroke-dashoffset: 220.911px; stroke-dasharray: 220.911px, 230.911px;"></circle>
    </svg>
    <div class="icons" id="touchIcon" style="transform: translate3d(0px, 0px, 0px) scale(0.5, 0.5); visibility: hidden; opacity: 0;"></div>
    <span class="H8h4" style="visibility: hidden; opacity: 0; transform: translate3d(0px, 0px, 0px);">Control at your fingertips</span><br>Gentle gestures give you full control
  </div>
</div>
